@import 'color.scss';
@import 'variable.scss';

.list-view {
    &__header {
        background-color: $color-white;
        border-radius: 4px;
        h3 {
            color: $color-darkgrey;
            font-size: 16px;
            // font-family: $font-OSR;
            font-weight: bold;
            padding: 14px 20px;
            border-bottom: 1px solid $color-grey;
            margin: 0px;
            span {
                float: right;
                cursor: pointer;
            }
        }
    }
    
    &__content {
        label {
            color: $color-darkgrey;
            font-size: 16px;
            // font-family: $font-OSR;
            font-weight: normal;
            display: block;
            letter-spacing: -0.2px;
        }
        &__search {
            border-bottom: solid 1px $color-grey;
        }
        &__container {
            max-height: 185px;
            overflow-y: scroll;
            .row {
                width: 100%;
                margin: 0;
                padding: 8px 5px 6px;
                color: $color-darkgrey;
                font-size: 16px;
                // font-family: $font-OSR;
                font-weight: normal;
                .col-11 {
                    -webkit-align-items: center; /* Safari 7.0+ */
                    display: flex;
                    align-items: center;
                    padding-left: 3px;
                }
            }
        }
    }
    &__footer {
        padding: 17px 20px;
        text-align: right;
        cursor: pointer;
        color: $color-darkgrey;
        font-size: 16px;
        // font-family: $font-OSR;
        font-weight: bold;
        border-top: 1px solid $color-grey;
    }
}
