/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

@import 'color';
@import 'font';
@import 'variable';

.success {
    color: $color-green !important;
}

.nowrap {
    flex-wrap: nowrap;
}

.bold {
    font-weight: bold !important;
}

.break-word {
    word-wrap: break-word;
    word-break: break-word;
}

* {
    box-sizing: border-box;
  }