/* General color */
$color-white: #ffffff;
$color-black: #000000;

/*Brand color*/
$color-brand-blue: #6ccee6;

/*Red color*/
$color-red: #ef3e42;
$color-lightred: #fffaf2;

/*Green color*/
$color-green: #5cc971;

/*Orange color*/
$color-orange: #ff9933;

/*Blue color*/
$color-blue: #0067B1;
$color-blue-1: #00cc66;
$color-lightseablue: #f3fbfe;
$color-lightblue: #e4f2fd;

/*Dark Grey color - Primary title color*/
$color-darkgrey: #333333;

/*Mid Grey color - Secondary subtitle color*/
$color-grey: #858585;
$color-grey1: #f6f9fc;
$color-grey2: #6b7c93;
$color-grey3: #d0d0d0;
$color-grey4: #3d464d;



/*light Grey color*/
$color-lightgrey: #e6eaf0;
$color-lightgrey2: #f7f7f7;
$color-lightgrey3: #727272;
$color-lightgrey4: #fafafa;
$color-lightgrey5: #f7f9fa;
$color-lightgrey6: #e6ebf1;

/* Page bg */
$color-page-bg: rgba(246,249,252, 1);
$nav-bg: #5BC2E7;

/* Form Input Label */
$color-form-label: rgba(107, 124, 147, 0.87);

/* Leads */
$color-header-nav-active: rgba(50, 50, 93, 0.82);
$color-header-nav: rgba(107, 124, 147, 0.82);
$color-bg-leads-stage: rgba(246,249,252, 1);

/* Head Office */
$color-contacts-item-address: rgba(50, 50, 93, 0.74);

/* FAQ */
$color-faq-question: rgba(50, 50, 93, 0.74);

/* Accordion Item */
$color-accordion-item: rgba(50, 50, 93, 0.74);


/*MVP2 color styling*/
$title-grey: #424b57;
$subtitle-grey: #646c77;
$ashgrey: #8b94a0;
$greylight: #7f8fa4;
$green-icon: #5cc971;
$bg-grey: #f5f7f7;
$bg-lightgrey: #fafbfc;
$border-lightgrey: #e5e7e9;
$formborder-lightgrey: #bdc4c9;
$color-mediumgrey: #323c47;
$darkBlueGrey: #32325d;
$formlabel: #0c0033; 
$formsubtitle: #354052;
$nav-bg: #5BC2E7;
$chart-txt-blue: #0068b3;
$notice-lightred: #feedec;
$color-cementgrey: #737a92;
$successgreen: #2ebd41;
$sticky-bg: #ebf4fd;
$sandyBrown: #f19e4b;
$disableBackground: #ccced1;




