@import 'color.scss';
@import 'variable.scss';

.confirm {
    &__header {
        background-color: $color-orange;
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        h3 {
            color: $color-white;
            font-size: 16px;
            // font-family: $font-OSR;
            font-weight: bold;
            padding: 16px 20px;
            span {
                float: right;
                cursor: pointer;
            }
        }
    }

    &__content {
        color: $color-darkgrey;
        font-size: 16px;
        // font-family: $font-OSR;
        font-weight: normal;
        padding: 10px 0;
        &__green-btn{
            margin-bottom: 18px;
            background-color: $color-green;
            padding: 15px 30px;
            border: 0;
            cursor: pointer;
            font-size: 16px;
            // font-family: $font-OSSB;
            color: $color-white;
            border-radius: 4px;
            text-align: center;
            font-weight: 500;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
            margin-right: 10px;
            outline: 0
        }
        &__grey-btn {
            margin-bottom: 18px;
            background-color: $color-grey;
            padding: 15px 30px;
            border: 0;
            cursor: pointer;
            font-size: 16px;
            // font-family: $font-OSSB;
            color: $color-white;
            border-radius: 4px;
            text-align: center;
            font-weight: 500;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
            margin-right: 10px;
            outline: 0
        }
        &__default-btn{
            @extend .confirm__content__green-btn;
            background-color: transparent;
            color: $color-grey;
            border: 1px solid $color-brand-blue;
            margin-right: 0;
        }

        &__radio {
            input {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                cursor: pointer;
                padding: 0.8rem;
                padding-bottom: 1.2rem;
                outline: none;
                background:transparent;
                @media screen and (-webkit-min-device-pixel-ratio:0){
                    background: url('../../../assets/icons/btn_radio-unselected.svg') no-repeat center 6px;
                }
                @-moz-document url-prefix() {
                    background: url('../../../assets/icons/btn_radio-unselected.svg') no-repeat center 6px;
                }
                &:hover {
                    background:transparent;
                    @media screen and (-webkit-min-device-pixel-ratio:0){
                        background: url('../../../assets/icons/btn_radio-selected.svg') no-repeat center 6px;
                    }
                    @-moz-document url-prefix() {
                        background: url('../../../assets/icons/btn_radio-selected.svg') no-repeat center 6px;
                    }
                }
            }

            span {
                position: relative;
                top: -0.35rem;
            }
        }

        &__checkbox {
            margin-right: 1rem;
        }

        &__label-text {
            display: -webkit-flex; /* Safari */
            -webkit-align-items: center; /* Safari 7.0+ */
            display: flex;
            align-items: center;
        }

        .row {
            width: 100%;
            margin: 0;
            padding: 10px 5px;
            color: $color-darkgrey;
            font-size: 16px;
            // font-family: $font-OSR;
            font-weight: normal;
        }
    }

    &__footer {
        padding: 17px 20px;
        text-align: right;
        cursor: pointer;
        color: $color-darkgrey;
        font-size: 16px;
        // font-family: $font-OSR;
        font-weight: bold;
        border-top: 1px solid $color-grey;
    }
}
